{% load static %}
<footer id="footer" class="footer-area">
    <div class="footer-widget pt-130 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="footer-content text-center">
                        <a href="/">
                            <img src="{% static 'assets/images/banner/owoaff.png' %}" alt="Logo">
                        </a>
                        <p class="mt-">Owodaily is a real online reward community that has paid over 40 millionin cash to its members. <span>Owodaily</span> is not a get rich quick scheme, it's not a substitute for a regular full time or part time employment. it is just a convenient way to earn some extra cash on the side during your downtime</p>
                        
                    </div> <!-- footer content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    <div class="footer-copyright pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text text-center pt-20">
                        <p>Copyright © 2022. Template Crafted by <a href="https://uideck.com" target="blank" rel="nofollow">UIdeck</a></p>
                    </div> <!-- copyright text -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
</footer>